# 1. Dependências do Node
# (Pasta mais pesada, pode ser reinstalada com 'npm install')
node_modules/

# 2. Arquivo de Segredos
# (NUNCA envie senhas para o GitHub!)
.env

# 3. Saída do TypeScript
# (Arquivos JavaScript compilados, definidos no seu tsconfig.json como "outDir")
dist/

# 4. Logs de Erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 5. Arquivos de Sistema
.DS_Store
Thumbs.db